.allPokemons {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  gap: 10px;
}

.pokemonContainer {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.pokemonName {
  text-transform: capitalize;
}

.pageBtn {
  margin: 20px;
  padding: 10px 20px;
}
